@import "../../scss/variables.scss";

.component-quick-search {
  margin: 10px auto;
  width: 70%;

  .sub-header {
    margin-top: 8px !important;
  }

  .logo {
    width: 90px;
    height: auto;
  }

  .query-card {
    min-width: 600px;

    .query-header {
      .word {
        width: fit-content;
        display: inline-block;
        font-size: $headerFontSize;
      }
      span {
        margin-left: 20px;
        font-size: $baseFontSize;
        color: #3585c1;
      }
    }

    .query-meta {
      color: $textColor;
    }

    .tags {
      label {
        font-weight: bold;
        margin: 0 5px;
      }

      .label {
        margin: 5px;
      }
    }
  }

  .search-inputer {
    width: 50%;
  }
}
