.component-quick-search {
  margin: 10px auto;
  width: 60%;

  .sub-header {
    margin-top: 8px !important;
  }

  .logo {
    width: 90px;
    height: auto;
  }

  .search-inputer {
    width: 50%;
  }
}
