/* 公共变量定义 */

// 字体大小
$smallFontSize: 12px;
$baseFontSize: 14px;
$largeFontSize: 16px;
$largerFontSize: 18px;
$bigFontSize: 18px;
$headerFontSize: 20px;

$background-white: rgba(255, 255, 253, 0.87);

$textColor: rgba(0, 0, 1, 0.78);
$textGreyColor: rgba(62, 62, 62, 0.194);

// 边框颜色
$borderBlack: rgba(0, 0, 1, 0.62);

// 阴影颜色
$boxShadowShallow: rgba(0, 0, 0, 0.15);
$boxShadowDark: rgba(0, 0, 0, 0.2);
